/* CSS code for Week 2 Peer Reviewed Assignment,
Course: Responsive Website Basics: Code with HTML, CSS, and JavaScript
 -------------------------------------------------------------------*/

/* Setting the general font properties of the header in the html code
(when the browser width is smaller than 500px): */
h1 {
	font-family: sans-serif;
	color: darkblue;
	text-align: center; /* Centres the header around the middle of the
	browser*/
	margin: 15px 30px; /* margin shorthand property, setting top-bottom
	and right-left margins with only two values */

}

/* The background turns grey when the mouse pointer hovers over the
header: */
h1:hover {
	background-color: lightgrey;
}

/* For browser width between 500-999px the header background and text
 change: */
@media only screen and (min-width: 500px) and (max-width: 999px) {
	h1 {
	background: lightblue;
	font: italic 250% sans-serif; /* font shorthand property:
	size 250% of the initial size set by browser*/
	}

}

/* For browser width greater than 999px the header background and text
change: */
@media only screen and (min-width: 1000px){
	h1 {
	background: lightcoral;
	font: normal small-caps bold 400% sans-serif; /* Font shorthand property:
	Reset the font style. Lower case fonts are shown as caps */
	}

}